@font-face {
  font-family: "Montserrat";
  src:
    url("Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-blob";
  src:
    url("Montserrat-Bold.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat-Italic";
  src:
    url("Montserrat-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}
